.images{
font-size: 40px;
background: white;
}
.images img{
	width: 453px;
	height: 340px;
	border-radius: 8px;
	transition: 0.8s;
}
.images img:hover{
opacity: 1;
width: 453px;
height: 340px;
width:500px;
height: 400px;
transition: 0.8s;
overflow: hidden;
box-shadow: 0 0 10px 0 grey;
} n